{% extends "zdlra/zdlra.html" %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object.database }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object.database }}</td>
        </tr>
        <tr>
            <th>State</th>
            <td>{{ object.state }}</td>
        </tr>
        <tr>
            <th>Creation time</th>
            <td>{{ object.creation_time }}</td>
        </tr>
        <tr>
            <th>Redo transport active</th>
            <td>{{ object.nzdl_active }}</td>
        </tr>
        <tr>
            <th>ZDLRA</th>
            <td>{{ object.zdlra }}</td>
        </tr>
        <tr>
            <th>Protection policy</th>
            <td>{{ object.protection_policy }}</td>
        </tr>
        <tr>
            <th>Snapshot date</th>
            <td>{{ object.snapshot.date }}</td>
        </tr>
        <tr>
            <th>Space usage</th>
            <td>{{ last_metric.space_usage }}</td>
        </tr>
        <tr>
            <th>Disk reserved space</th>
            <td>{{ last_metric.disk_reserved_space }}</td>
        </tr>
        <tr>
            <th>Size estimate</th>
            <td>{{ last_metric.size_estimate }}</td>
        </tr>
        <tr>
            <th>Recovery window space</th>
            <td>{{ last_metric.recovery_window_space }}</td>
        </tr>
        <tr>
            <th>Restore window</th>
            <td>{{ last_metric.restore_window }}</td>
        </tr>
        <tr>
            <th>Unprotected window</th>
            <td>{{ last_metric.unprotected_window }}</td>
        </tr>
        <tr>
            <th>Minimum recovery needed</th>
            <td>{{ last_metric.minimum_recovery_needed }}</td>
        </tr>
        <tr>
            <th>Snapshot date</th>
            <td><!-- Snapshot ID : {{ object.snapshot.id }} -->{{ object.snapshot.date }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}