{% extends "zdlra/zdlra.html" %}
{% load mathfilters %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object.name }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>Snapshot date</th>
            <td><!-- Snapshot ID : {{ object.snapshot.id }} -->{{ object.snapshot.date }}</td>
        </tr>
    </tbody>
</table>

<div class="w-50">
    <canvas id="zdlraSpace"></canvas>
</div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-databases-tab" data-bs-toggle="pill" data-bs-target="#pills-databases" type="button" role="tab" aria-controls="pills-databases" aria-selected="true">Databases</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-protection-policy-tab" data-bs-toggle="pill" data-bs-target="#pills-protection-policy" type="button" role="tab" aria-controls="pills-protection-policy" aria-selected="false">Protection policy</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-databases" role="tabpanel" aria-labelledby="pills-databases-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Database</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for database in object.zdlradatabase_set.all.select_related %}
                <tr>
                    <td><a href="{{ database.get_absolute_url }}">{{ database }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-protection-policy" role="tabpanel" aria-labelledby="pills-protection-policy-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Protection policy</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for protection_policy in object.zdlraprotectionpolicy_set.all %}
                <tr>
                    <td><a href="{{ protection_policy.get_absolute_url }}">{{ protection_policy }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js_file %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.1.0/dist/chartjs-plugin-annotation.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{% block js_script %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const data = {
            "datasets":[
                {
                    data:[
                        {% for metric in object.zdlraspacemetric_set.all.select_related %}
                        {
                        "x":'{{metric.date | date:"Y-m-d H:i:s"}}',
                        "y":{{metric.used|intdiv:1024}}
                        },{% endfor %}
                    ],
                    label:"Used Tb",
                    tension: 0.4,
                    cubicInterpolationMode: 'monotone',
                },
            ]
        };
        new Chart(
            document.getElementById("zdlraSpace"), 
            {
                type: "line",
                data: data,
                options: {
                    scales: {
                        x: {
                            type: "time",
                            time: {
                                unit: 'month'
                            }
                        },
                        y: {
                            max: 250
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'ZDLRA Space usage'
                        },
                        annotation: {
                            annotations: {
                                line1: {
                                    type: 'line',
                                    yMin: 213,
                                    yMax: 213,
                                    borderColor: 'rgb(255, 99, 132)',
                                    borderWidth: 2,
                                }
                            }
                        }
                    }
                }
        });
    });
</script>
{% endblock %}