{% extends "zdlra/zdlraprotectionpolicy.html" %}

{% block content %}
<a href="{% url 'zdlra:zdlraprotectionpolicy-export' %}"><i class="bi-filetype-csv" style="font-size: 2rem;"></i></a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for object in object_list %}
        <tr>
            <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}