{% extends "system/cluster.html" %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object.name }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
        </tr>
    </tbody>
</table>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Servers</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-listeners-tab" data-bs-toggle="pill" data-bs-target="#pills-listeners" type="button" role="tab" aria-controls="pills-listeners" aria-selected="true">Listeners</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Servers</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for server in object.server_set.all %}
                <tr>
                    <td><a href="{{ server.get_absolute_url }}">{{ server }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-listeners" role="tabpanel" aria-labelledby="pills-listeners-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for listener in object.scanlistener_set.all %}
                <tr>
                    <td><a href="{{ listener.get_absolute_url }}">{{ listener }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}