{% extends "system/server.html" %}

{% block content %}
{% include "core/paginator.html" %}
<a href="{% url 'system:server-add' %}"><i class="bi-plus-square" style="font-size: 2rem;"></i></a>
<a href="{% url 'system:server-export' %}"><i class="bi-filetype-csv" style="font-size: 2rem;"></i></a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name ({{ paginator.count }})</th>
            <th>Environment</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for server in object_list %}
        <tr>
            <td><a href="{{ server.get_absolute_url }}">{{ server }}</a></td>
            <td>{{ server.environment }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "core/paginator.html" %}

{% endblock %}