{% extends "system/server.html" %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object.name }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Environment</th>
            <td>{{ object.environment }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>Site</th>
            <td>{{ object.site }}</td>
        </tr>
        <tr>
            <th>Cluster</th>
            <td><a href="{{ object.cluster.get_absolute_url }}">{{ object.cluster }}</a></td>
         </tr>
        <tr>
            <th>Nb CPU core</th>
            <td>{{ object.nb_cores }}</td>
        </tr>
        <tr>
            <th>Memory Mb</th>
            <td>{{ object.memtotal_mb }}</td>
        </tr>
        <tr>
            <th>Snapshot date</th>
            <td><!-- Snapshot ID : {{ object.snapshot.id }} -->{{ object.snapshot.date }}</td>
        </tr>
    </tbody>
</table>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Instances</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-filesystem-tab" data-bs-toggle="pill" data-bs-target="#pills-filesystem" type="button" role="tab" aria-controls="pills-filesystem" aria-selected="true">Filesystems</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-netif-tab" data-bs-toggle="pill" data-bs-target="#pills-netif" type="button" role="tab" aria-controls="pills-netif" aria-selected="true">Network interfaces</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-listeners-tab" data-bs-toggle="pill" data-bs-target="#pills-listeners" type="button" role="tab" aria-controls="pills-listeners" aria-selected="true">Listeners</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for instance in object.instance_set.all %}
                <tr>
                    <td><a href="{{ instance.get_absolute_url }}">{{ instance }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-filesystem" role="tabpanel" aria-labelledby="pills-filesystem-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Filesystem</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for filesystem in object.filesystem_set.all %}
                <tr>
                    <td><a href="{{ filesystem.get_absolute_url }}">{{ filesystem }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-netif" role="tabpanel" aria-labelledby="pills-netif-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Interface</th>
                    <th>Status</th>
                    <th>IPS</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for interface in object.networkinterface_set.all %}
                <tr>
                    <td>{{ interface }}</td>
                    <td>{{ interface.active }}</td>
                    <td>
                        {% for ip in interface.ipaddress_set.all %}
                        {{ ip }}<br />
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-listeners" role="tabpanel" aria-labelledby="pills-listeners-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for listener in object.locallistener_set.all %}
                <tr>
                    <td><a href="{{ listener.get_absolute_url }}">{{ listener }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}