{% extends "core/skeleton.html" %}

{% block js_file %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}

Last 24 hours Snapshots
<div class="w-25">
    <canvas id="snapshotsStatus"></canvas>
</div>
{% endblock %}

{% block js_script %}
{{ block.super }}
<script>
    // document.addEventListener("DOMContentLoaded", function () {
        const ctx = document.getElementById("snapshotsStatus");
        const data = {
            labels: [
                {% for status in snapshots_nb_by_status %}
                '{{status.status}}',
                {% endfor %}
            ],
            datasets: [{
                data: [
                    {% for status in snapshots_nb_by_status %}
                    {'count': '{{status.count}}', 'url': '{% url 'core:filtered-snapshot-list' status.status %}'},
                    {% endfor %}
                ],
                backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 205, 86)',
                'rgb(54, 162, 235)',
                ],
                hoverOffset: 4
            }]
        };
        const chart = new Chart(
            ctx, 
            {
                type: "pie",
                data: data,
                options: {
                    parsing: {
                        key: 'count'
                    }
                }
        });
        function pieLink(click){
            const clickInfo = chart.getElementsAtEventForMode(click, 'nearest', {intersect: true}, true);
            
            if (clickInfo.length){
                const pieSlice = clickInfo[0];
                const link = chart.data.datasets[pieSlice.datasetIndex].data[pieSlice.index].url;
                location.href = link;
            }
        }
        ctx.onclick = pieLink;
    // });
</script>
{% endblock %}