<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}Database Portal{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="{% static 'core/site.webmanifest' %}">
    <link rel="apple-touch-icon" href="{% static 'core/images/icon.png' %}">
    <link rel="icon" href="{% static 'core/images/favicon.ico' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    {% block stylesheets %}
    {% endblock %}

</head>

<body>
    {% include 'core/messages.html' %}
<div id="navbar">
    {% block menu %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">DB Inventory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-tabs me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle{% if 'system:' in request.resolver_match.view_name %} active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            System
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'system:cluster-list' %}">Clusters</a></li>
                            <li><a class="dropdown-item" href="{% url 'system:server-list' %}">Servers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle{% if 'database:' in request.resolver_match.view_name %} active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Database
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'database:instance-list' %}">Instances</a></li>
                            <li><a class="dropdown-item" href="{% url 'database:database-list' %}">Databases</a></li>
                            <li><a class="dropdown-item" href="{% url 'database:tablespace-list' %}">Tablespaces</a></li>
                            <li><a class="dropdown-item" href="{% url 'database:user-list' %}">Users</a></li>
                            <li><a class="dropdown-item" href="{% url 'database:standalone-network-alias-list' %}">Net Alias</a></li>
                            <li><a class="dropdown-item" href="{% url 'database:failover-network-alias-list' %}">Failover Net Alias</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle{% if 'zdlra:' in request.resolver_match.view_name %} active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Zdlra
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'zdlra:zdlra-list' %}">Appliances</a></li>
                            <li><a class="dropdown-item" href="{% url 'zdlra:zdlraprotectionpolicy-list' %}">Protection Policies</a></li>
                            <li><a class="dropdown-item" href="{% url 'zdlra:zdlradatabase-list' %}">Zdlra Databases</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            User
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item disabled" href="#">User Profile</a></li>
                            {% if user.is_staff %}<li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>{% endif %}
                            <li><hr class="dropdown-divider"></li>
                            {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'core:logout' %}">Deconnexion</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'core:login' %}">Connexion</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search" method="get" action="/search/">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% endblock %}
</div>

<div id="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">      
            {% block breadcrumb %}<li class="breadcrumb-item"><a href="/">Home</a></li>{% endblock %}
        </ol>
    </nav>    
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

{% block js_file %}
{% endblock %}

{% block js_script %}
{% endblock %}

</body>
</html>