{% extends "core/snapshot.html" %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>#</th>
            <td>{{ object.id }}</td>
        </tr>
        <tr>
            <th>Server</th>
            <td><a href="{{ object.target_server.get_absolute_url }}">{{ object.target_server }}</a></td>
        </tr>
        <tr>
            <th>Snapshot date</th>
            <td><!-- Snapshot ID : {{ object.snapshot.id }} -->{{ object.date }}</td>
        </tr>
        <tr>
            <th>Processed date</th>
            <td>{{ object.processed_date }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ object.status }}</td>
        </tr>
        <tr>
            <th>Error</th>
            <td><pre>{{ object.error }}</pre></td>
        </tr>
    </tbody>
</table>
{% endblock %}