{% extends "database/database.html" %}
{% load mathfilters %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object.name }}</li>
{% endblock %}

{% block content %}
<h1>{% block container_type %}{% endblock %}</h1>
<table class="table">
    <tbody>
        <tr>
            <th>Unique Name</th>
            <td>{{ object.name }}</td>
        </tr>
        <tr>
            <th>Global Name</th>
            <td>{{ object.global_name }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ object.get_type_display }}</td>
        </tr>
        <tr>
            <th>DBID</th>
            <td>{{ object.dbid }}</td>
        </tr>
        <tr>
            <th>Cluster Database</th>
            <td>{{ object.is_cluster_database }}</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{ object.size | filesizeformat }}</td>
        </tr>
        <tr>
            <th>Creation date</th>
            <td>{{ object.created }}</td>
        </tr>
        <tr>
            <th>Resetlogs time</th>
            <td>{{ object.resetlogs_time }}</td>
        </tr>
        <tr>
            <th>Log mode</th>
            <td>{{ object.log_mode }}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td>{{ object.database_role }}</td>
        </tr>
        <tr>
            <th>Force logging</th>
            <td>{{ object.force_logging }}</td>
        </tr>
        <tr>
            <th>Flashback on</th>
            <td>{{ object.flashback_on }}</td>
        </tr>
        <tr>
            <th>Is part of DR</th>
            <td>{{ object.part_of_dr }}</td>
        </tr>
        <tr>
            <th>Snapshot date</th>
            <td><!-- Snapshot ID : {{ object.snapshot.id }} -->{{ object.snapshot.date }}</td>
        </tr>
    </tbody>
</table>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-instances-tab" data-bs-toggle="pill" data-bs-target="#pills-instances" type="button" role="tab" aria-controls="pills-instances" aria-selected="true">Instances</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-tablespaces-tab" data-bs-toggle="pill" data-bs-target="#pills-tablespaces" type="button" role="tab" aria-controls="pills-tablespaces" aria-selected="false">Tablespaces</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users" type="button" role="tab" aria-controls="pills-users" aria-selected="false">Users</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-replication-tab" data-bs-toggle="pill" data-bs-target="#pills-replication" type="button" role="tab" aria-controls="pills-replication" aria-selected="false">Dataguard</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-dbsize-tab" data-bs-toggle="pill" data-bs-target="#pills-dbsize" type="button" role="tab" aria-controls="pills-dbsize" aria-selected="false">DB Size</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-fra-tab" data-bs-toggle="pill" data-bs-target="#pills-fra" type="button" role="tab" aria-controls="pills-fra" aria-selected="false">FRA</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-services-tab" data-bs-toggle="pill" data-bs-target="#pills-services" type="button" role="tab" aria-controls="pills-services" aria-selected="false">Services</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-instances" role="tabpanel" aria-labelledby="pills-instances-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Instance</th>
                    <th>Server</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for instance in object.instances.all %}
                <tr>
                    <td><a href="{{ instance.get_absolute_url }}">{{ instance }}</a></td>
                    <td><a href="{{ instance.server.get_absolute_url }}">{{ instance.server }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-tablespaces" role="tabpanel" aria-labelledby="pills-tablespaces-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tablespace</th>
                    <th>Usage</th>
                    <th>Size</th>
                    <th>Used</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for tablespace in tablespaces %}
                {% widthratio tablespace.size_metric.used tablespace.size_metric.size 100 as used_percent %}
                <tr>
                    <td><a href="{{ tablespace.get_absolute_url }}">{{ tablespace.name }}</a></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Tablespace usage" style="width: {{ used_percent }}%;" aria-valuenow="{{ used_percent }}" aria-valuemin="0" aria-valuemax="100">{{ used_percent }}%</div>
                        </div>
                    </td>
                    <td>{{ tablespace.size_metric.size | filesizeformat }}</td>
                    <td>{{ tablespace.size_metric.used | filesizeformat }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for user in oracle_users %}
                <tr>
                    <td><a href="{{ user.get_absolute_url }}">{{ user }}</a></td>
                    <td>{{ user.size_metric.size | filesizeformat }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-replication" role="tabpanel" aria-labelledby="pills-replication-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Database</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for database in object.replication_system.containeroracledatabase_set.all %}
                <tr>
                    <td><a href="{{ database.get_absolute_url }}">{{ database }}</a></td>
                    <td>{{ database.database_role }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-dbsize" role="tabpanel" aria-labelledby="pills-dbsize-tab" tabindex="0">
        <div class="w-50">
            <canvas id="dbSize"></canvas>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-fra" role="tabpanel" aria-labelledby="pills-fra-tab" tabindex="0">
        <div class="w-50">
            <canvas id="fraSpace"></canvas>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-services" role="tabpanel" aria-labelledby="pills-services-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Services</th>
                    <th>TNS Alias</th>
                    <th>TNS Failover Alias</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for service in object.service_set.all %}
                <tr>
                    <td><a href="{{ service.get_absolute_url }}">{{ service }}</a></td>
                    <td><a href="{% url 'database:standalone-network-alias-add' service=service.id %}"><i class="bi-plus-square"></i></a>
                        {% for alias in service.standalonenetworkalias_set.all %}
                        <a href="{{ alias.get_absolute_url }}">{{ alias }}</a>{% endfor %}
                    </td>
                    <td><a href="{% url 'database:failover-network-alias-add' service=service.id %}"><i class="bi-plus-square"></i></a>
                        {% for failover_alias in service.failover_service.failovernetworkalias_set.all %}
                        <a href="{{ failover_alias.get_absolute_url }}">{{ failover_alias }}</a>{% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block js_file %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.1.0/dist/chartjs-plugin-annotation.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{% block js_script %}
{{ block.super }}
<script>
    data_database_size = [];
    data_datafile_size = [];
    data_redo_size = [];
    data_tempfile_size = [];

    {% for metric in object.databasesizemetric_set.all %}
        data_database_size.push({"x":'{{metric.date | date:"Y-m-d H:i:s"}}',"y":{{metric.size|intdiv:1073741824}}});
        data_datafile_size.push({"x":'{{metric.date | date:"Y-m-d H:i:s"}}',"y":{{metric.datafile_size|intdiv:1073741824}}});
        data_redo_size.push({"x":'{{metric.date | date:"Y-m-d H:i:s"}}',"y":{{metric.redo_size|intdiv:1073741824}}});
        data_tempfile_size.push({"x":'{{metric.date | date:"Y-m-d H:i:s"}}',"y":{{metric.tempfile_size|intdiv:1073741824}}});
    {% endfor %}

    document.addEventListener("DOMContentLoaded", function () {
        const dataFra = {
            "datasets":[
                {
                    data:[
                        {% for metric in object.containeroracleframetric_set.all %}
                        {"x":'{{metric.date | date:"Y-m-d H:i:s"}}',"y":{{metric.used|intdiv:1073741824}}},{% endfor %}
                    ],
                    label:"{{ database }}",
                    tension: 0.4,
                    cubicInterpolationMode: 'monotone',
                },
            ]
        };
        const dataDbSize = {
            "datasets":[
                {
                    data: data_database_size,
                    label: "Database size",
                    tension: 0.4,
                    cubicInterpolationMode: 'monotone',
                },
                {
                    data: data_datafile_size,
                    label: "Datafile size",
                    tension: 0.4,
                    cubicInterpolationMode: 'monotone',
                },
                {
                    data: data_redo_size,
                    label: "Redo size",
                    tension: 0.4,
                    cubicInterpolationMode: 'monotone',
                },
                {
                    data: data_tempfile_size,
                    label: "Tempfile size",
                    tension: 0.4,
                    cubicInterpolationMode: 'monotone',
                },
            ]
        };
        new Chart(
            document.getElementById("fraSpace"), 
            {
                type: "line",
                data: dataFra,
                options: {
                    scales: {
                        x: {
                            type: "time",
                            time: {
                                unit: 'month'
                            }
                        },
                        y: {
                            title: {
                                text: "Used Gb",
                                display: true
                            }
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Database FRA usage'
                        },
                    }
                }
        });
        new Chart(
            document.getElementById("dbSize"), 
            {
                type: "line",
                data: dataDbSize,
                options: {
                    scales: {
                        x: {
                            type: "time",
                            time: {
                                unit: 'month'
                            }
                        },
                        y: {
                            title: {
                                text: "Used Gb",
                                display: true
                            }
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Database Size'
                        },
                    }
                }
        });
    });
</script>
{% endblock %}