{% extends "database/diskgroup.html" %}
{% load mathfilters %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ object.type }}</td>
        </tr>
        <tr>
            <th>Compatibility</th>
            <td>{{ object.compatibility }}</td>
        </tr>
        <tr>
            <th>Database Compatibility</th>
            <td>{{ object.database_compatibility }}</td>
        </tr>
        <tr>
            <th>Voting file</th>
            <td>{{ object.voting_files }}</td>
        </tr>
    </tbody>
</table>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-instances-tab" data-bs-toggle="pill" data-bs-target="#pills-instances" type="button" role="tab" aria-controls="pills-instances" aria-selected="true">Instances</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-diskgroupSize-tab" data-bs-toggle="pill" data-bs-target="#pills-diskgroupSize" type="button" role="tab" aria-controls="pills-diskgroupSize" aria-selected="true">Diskgroup Size</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-instances" role="tabpanel" aria-labelledby="pills-instances-tab" tabindex="0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Instance</th>
                    <th>Server</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for instance in object.instances.all %}
                <tr>
                    <td><a href="{{ instance.get_absolute_url }}">{{ instance }}</a></td>
                    <td><a href="{{ instance.server.get_absolute_url }}">{{ instance.server }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-diskgroupSize" role="tabpanel" aria-labelledby="pills-diskgroupSize-tab" tabindex="0">
        <div class="w-50">
            <canvas id="diskgroupSize"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block js_file %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.1.0/dist/chartjs-plugin-annotation.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{% block js_script %}
{{ block.super }}
<script>

    var dataUsed = []
    var dataTotal = []
    {% for metric in object.oraclediskgroupsizemetric_set.all %}
    dataUsed.push({"x":'{{metric.date | date:"Y-m-d H:i:s"}}',"y":{{metric.used_mb|intdiv:1024}}});
    dataTotal.push({"x":'{{metric.date | date:"Y-m-d H:i:s"}}',"y":{{metric.total_mb|intdiv:1024}}});
    {% endfor %}

    document.addEventListener("DOMContentLoaded", function () {
        const dataDiskgroupSize = {
            "datasets":[
                {
                    data: dataUsed,
                    label: "Used",
                    tension: 0.4,
                    cubicInterpolationMode: 'monotone',
                },{
                    data: dataTotal,
                    label: "Total",
                    tension: 0.4,
                    cubicInterpolationMode: 'monotone',
                },
            ]
        };
        new Chart(
            document.getElementById("diskgroupSize"), 
            {
                type: "line",
                data: dataDiskgroupSize,
                options: {
                    scales: {
                        x: {
                            type: "time",
                            time: {
                                unit: 'month'
                            }
                        },
                        y: {
                            title: {
                                text: "Gb",
                                display: true
                            }
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Diskgroup Size'
                        },
                    }
                }
        });
    });
</script>
{% endblock %}