{% extends "database/user.html" %}
{% load mathfilters %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object }}</td>
        </tr>
        <tr>
            <th>Database</th>
            <td><a href="{{ object.database.get_absolute_url }}">{{ object.database }}</a></td>
        </tr>
        <tr>
            <th>Account status</th>
            <td>{{ object.account_status }}</td>
        </tr>
        <tr>
            <th>Lock date</th>
            <td>{{ object.lock_date }}</td>
        </tr>
        <tr>
            <th>Expiry date</th>
            <td>{{ object.expiry_date }}</td>
        </tr>
        <tr>
            <th>Default tablespace</th>
            <td>{{ object.default_tablespace }}</td>
        </tr>
        <tr>
            <th>Temporary tablespace</th>
            <td>{{ object.temporary_tablespace }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ object.created }}</td>
        </tr>
        <tr>
            <th>Profile</th>
            <td>{{ object.profile }}</td>
        </tr>
        <tr>
            <th>Last login</th>
            <td>{{ object.last_login }}</td>
        </tr>
        <tr>
            <th>Password versions</th>
            <td>{{ object.password_versions }}</td>
        </tr>
        <tr>
            <th>Authentication type</th>
            <td>{{ object.authentication_type }}</td>
        </tr>
        <tr>
            <th>Common</th>
            <td>{{ object.common }}</td>
        </tr>
        <tr>
            <th>Password change date</th>
            <td>{{ object.password_change_date }}</td>
        </tr>
        <tr>
            <th>Snapshot date</th>
            <td><!-- Snapshot ID : {{ object.snapshot.id }} -->{{ object.snapshot.date }}</td>
        </tr>
    </tbody>
</table>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-schemaSize-tab" data-bs-toggle="pill" data-bs-target="#pills-schemaSize" type="button" role="tab" aria-controls="pills-schemaSize" aria-selected="true">Schema Size</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-schemaSize" role="tabpanel" aria-labelledby="pills-schemaSize-tab" tabindex="0">
        <div class="w-50">
            <canvas id="schemaSize"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block js_file %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.1.0/dist/chartjs-plugin-annotation.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
{% endblock %}

{% block js_script %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const dataSchemaSize = {
            "datasets":[
                {
                    data:[
                        {% for metric in object.userspacemetric_set.all %}
                        {"x":'{{metric.date | date:"Y-m-d H:i:s"}}',"y":{{metric.size|intdiv:1073741824}}},{% endfor %}
                    ],
                    label:"{{ object }}",
                    tension: 0.4,
                    cubicInterpolationMode: 'monotone',
                },
            ]
        };
        new Chart(
            document.getElementById("schemaSize"), 
            {
                type: "line",
                data: dataSchemaSize,
                options: {
                    scales: {
                        x: {
                            type: "time",
                            time: {
                                unit: 'month'
                            }
                        },
                        y: {
                            title: {
                                text: "Used Gb",
                                display: true
                            }
                        }
                    },
                    plugins: {
                        title: {
                            display: true,
                            text: 'Schema Size'
                        },
                    }
                }
        });
    });
</script>
{% endblock %}