{% extends "database/failovernetworkalias.html" %}

{% block content %}

{% include "core/paginator.html" %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name ({{ paginator.count }})</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for object in object_list %}
        <tr>
            <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "core/paginator.html" %}

{% endblock %}