{% extends "database/failovernetworkalias.html" %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Failover Service</th>
        </tr>
        <tr>
            <td>{{ object }}</td>
            <td><a href="{{ object.service.get_absolute_url }}">{{ object.service }}</a></td>
        </tr>
    </tbody>
</table>
{% endblock %}