{% extends "core/skeleton.html" %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'database:failover-network-alias-list' %}">Failover Network aliases</a></li>
{% endblock %}