{% extends "database/instance.html" %}

{% block content %}

{% include "core/paginator.html" %}
<a href="{% url 'database:instance-export' %}"><i class="bi-filetype-csv" style="font-size: 2rem;"></i></a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name ({{ paginator.count }})</th>
            <th>Server</th>
            <th>Environment</th>
            <th>Vendor</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for instance in object_list %}
        <tr>
            <td><a href="{{ instance.get_absolute_url }}">{{ instance }}</a></td>
            <td><a href="{{ instance.server.get_absolute_url }}">{{ instance.server }}</a></td>
            <td>{{ instance.environment }}</td>
            <td>{{ instance.vendor }}</td>
            <td>{{ instance.engine.version }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "core/paginator.html" %}

{% endblock %}