{% extends "core/skeleton.html" %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'database:standalone-network-alias-list' %}">Network aliases</a></li>
{% endblock %}