{% extends "database/user.html" %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ object }}</td>
        </tr>
        <tr>
            <th>Database</th>
            <td><a href="{{ object.database.get_absolute_url }}">{{ object.database }}</a></td>
        </tr>
        <tr>
            <th>Account status</th>
            <td>{{ object.account_status }}</td>
        </tr>
        <tr>
            <th>Lock date</th>
            <td>{{ object.lock_date }}</td>
        </tr>
        <tr>
            <th>Expiry date</th>
            <td>{{ object.expiry_date }}</td>
        </tr>
        <tr>
            <th>Default tablespace</th>
            <td>{{ object.default_tablespace }}</td>
        </tr>
        <tr>
            <th>Temporary tablespace</th>
            <td>{{ object.temporary_tablespace }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ object.created }}</td>
        </tr>
        <tr>
            <th>Profile</th>
            <td>{{ object.profile }}</td>
        </tr>
        <tr>
            <th>Last login</th>
            <td>{{ object.last_login }}</td>
        </tr>
        <tr>
            <th>Password versions</th>
            <td>{{ object.password_versions }}</td>
        </tr>
        <tr>
            <th>Authentication type</th>
            <td>{{ object.authentication_type }}</td>
        </tr>
        <tr>
            <th>Common</th>
            <td>{{ object.common }}</td>
        </tr>
        <tr>
            <th>Password change date</th>
            <td>{{ object.password_change_date }}</td>
        </tr>
        <tr>
            <th>Snapshot date</th>
            <td><!-- Snapshot ID : {{ object.snapshot.id }} -->{{ object.snapshot.date }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}